/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Nunito', sans-serif;
        @apply bg-background
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Open Sans', sans-serif;
    }
}

@layer components {
    .btn {
        @apply border-2 px-2 py-1 border-primary1-900 bg-primary1-500 rounded-lg transition duration-200
        active:opacity-50 disabled:opacity-40;
      }
      
      .btn:hover {
        @apply bg-primary1-700 scale-110;
      }

    .nav {
        @apply
            fixed top-0 left-0 z-40
            bg-primary
            py-0
            w-full backdrop-blur
    }

    .nav-menus {
        @apply
            fixed md:static top-0 left-0 z-20
            flex flex-row
            items-center gap-4 md:gap-12
            pt-2 pb-8 md:p-0
            w-auto
            bg-background
            bg-transparent md:dark:bg-transparent
            transition duration-500
            shadow-none
    }

    .nav-link {
        @apply
        border-b-4 border-transparent 
        hover:scale-110
        text-white
        px-2
    }

    .home-section {
        @apply
        grid items-center
        grid-cols-1 md:grid-cols-2
        pt-28 md:pt-0
        md:h-screen
        md:overflow-hidden
    }

    .btn-primary {
        @apply
        text-white
        bg-primary
        hover:brightness-110
        font-bold text-white
        px-4 py-2.5
        rounded shadow-lg
    }


    .product-td {
        @apply
        bg-secondary hover:bg-primary
    }

    .wrapper{
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        @apply
        w-5/6 h-screen flex items-center flex-col
    }

    .formBody {
        @apply
        w-1/2
        my-5
        p-6
        bg-primary
        rounded-xl
        mt-20
        mx-10;
    }

    .fav-empty {
        width: 14%;
        height: 40px; /* Initial height */
        overflow: hidden; /* Prevents content overflow during animation */
        background-color: #25494a; /* Initial background color */
        opacity: 0.55; /* Initial opacity */
        transition: 
            height 0.6s ease-out,
            background-color 0.6s ease-out,
            opacity 0.6s ease-out; /* Add transitions for background-color and opacity */
        @apply
        py-2 
        m-2 
        flex 
        flex-col 
        justify-center 
        items-center
        rounded-lg;
    }
    
    /* Styles for the fav-selected state */
    .fav-selected {
        width: 14%;
        height: 53px; /* New height */
        background-color: #3b6b6b; /* New background color */
        opacity: 1; /* New opacity */
        transition: 
            height 0.6s ease-out,
            background-color 0.6s ease-out,
            opacity 0.6s ease-out; /* Add transitions for background-color and opacity */
        @apply
        py-2 
        m-2 
        flex 
        flex-col 
        justify-center 
        items-center
        rounded-lg;
    }


    .top-banner {
        margin-top: 48px;
        @apply
        flex w-full px-6 gap-8 mx-5 items-center bg-primary1-800
    }

    .player {
        @apply
        bg-contrast-900 w-1/5 flex flex-col gap-3 pt-4
    }

    .channel {
        @apply
        flex flex-col items-center h-full w-1/2 relative border-2 border-contrast-700 border-opacity-50 bg-gradient-to-l from-contrast-950 to-secondary
    }
    .gradient {
        @apply
        bg-gradient-to-r from-contrast-900 to-secondary
    }

    .transport {
        bottom: 20px;
        right: -1.2vw;
        z-index: 100;
        width: 115%;
        @apply
        flex gap-6 absolute bg-primary1-900 justify-between p-5 text-lg rounded-2xl border-2 border-contrast-600 border-opacity-70
    }

    .add-fav-btn {
        @apply
        bg-zinc-800 rounded-xl p-2 mx-3 mb-3 hover:bg-zinc-700
    }
    .add-fav-btn-dis {
        @apply
        bg-zinc-800 rounded-xl p-2 mx-3 mb-3 opacity-40
    }


    .fade-out {
        transition: 
            opacity 0.8s ease-in-out,
            height 0.7s ease-out;
            
        height: 35px;
        opacity: 0;
    }
    .response-listened{
        width: 161px;
        transform: opacity 0.85s ease-in-out;
        opacity: 0;
        @apply
        relative flex flex-col justify-around bg-primary1-600 rounded-2xl m-3 h-[130px]
    }
    .response-listened.show {
        opacity: 1;
    }

}

@layer utilities {
    
}