{% extends 'core/base.html' %}
{% block title %}
Groups
{% endblock title %}
{% load i18n %}{% load static %}

{% block content %}


<div class="flex mt-20 justify-around w-full">
    <div class="bg-primary1-800 p-5">
        <h1>GROUP NAME: {{ group.name }}</h1>
        <p>Created by: {{ group.creator.username }}</p>

        <h2 class="pt-4">Members:</h2>
        <div class="members-list">
            {% for member in members %}
                <div class="member">
                    <p>{{ member.username }}</p>
                </div>
            {% empty %}
                <div class="no-members">
                    <p>No members in this group yet.</p>
                </div>
            {% endfor %}
        </div>

        <div class="m-4">
            <p>collabs: </p>
            {% for collab in collabs %}
            <div class="member">
                <a href="{% url "collabs:collab" pk=collab.id %}"><p>{{ collab.title }}</p></a>
            </div>
        {% empty %}
            <div class="no-members">
                <p>No members in this group yet.</p>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="bg-contrast-700 bg-opacity-40 mx-5 p-5">
        <p>Manage Group:</p>

        <p>Membership Requests: {{ request_count }}</p>

        {% for request in requests %}
            <a href"{% url "groups:verify_member" pk=request.id %}"><button class="p-2 bg-slate-800">Verify: {{ request.user.username }}</button></a>
        {% endfor %}
    </div>




</div>
{% endblock %}