body{
  font-family: Helvetica, sans-serif;
  margin: 0px;
  color: aliceblue;
}
#dynamic {
  transition: opacity 0.5s; 

  h1 {
    font-size: 2.5em;
    color: #102a45;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


}
.test {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  .menuGlow {
      text-decoration: underline; /* Add your preferred style for emphasis */
      color: red;
  }
.accForm{
  color: #102a45

}
  .mainContainer {
    background-color: rgba(72, 69, 69, 0.36); padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.textfield {
  color: #333;
}
  .item {
    background-color: rgba(15, 20, 15, 0.363);
    display: flex; 
    justify-content: space-between;

    margin: 5px;
    padding: 5px;
    width: 78vw;
    
    font-size: 15px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  }
  .item:hover{
    background-color: rgba(15, 20, 15, 0.547);
  }
  .item p{
    flex-shrink: 3;
  }
  .item h2{
    width: 60px;
    margin-left: 5px;
    margin-right: 4px;
    flex-grow: 3;
    margin: 2px;
  }
  .item button{
    width:120px;
    align-self: flex-end;
    position: sticky;
    margin-right: 0px;
    margin-left: 4px;
    /* height: 80px; */
  }
.logo{
  background-color: #102a45;
  width: 35px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}
  .ankiety {
    /* background-color: #3333336d; */
  }


  .blk-txt {
    color: #333;
  }

.signupChecks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
#privacyPolicyCheckbox {
  transform: scale(2.4);
  margin-right: 10px;
}
  .rowCont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  .smallItem{
    width: 33%;
    /* margin: 10px; */
    margin-top:  17px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  .smallItem:hover {
    background-color: rgba(15, 20, 15, 0.344);
  }
.detailBig{
  flex-grow: 3;
}
.text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text * {
  width: 100%;
}

  .tableButtons {
    background-color: #123151c3; color: white;
    padding: 10px 40px; border: none;
    border-radius:15px;
    cursor: pointer;
    margin-left: auto;
    margin-left: 0px;
  }

  .btn-primary-light {
    background-color: #abb4bdbd; color: rgb(6, 5, 5);
    padding: 10px 40px; border: none;
    border-radius:15px;
    cursor: pointer;
    margin-left: auto;
    margin-left: 0px;
  }

.collabList{
  height: 30wh;
}
.collabContainer{
  background-color: #333;
  color: aliceblue;
}

  .collabTitle {
    display: flex;
    flex-direction: column;
    font-size: 27px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon{
    width: 20px;
    height: 20 px;
  }

  .iconHolder {
    display: flex;
  }
  h3 {
    font-size: large;
  }
  .nobreak{
    white-space: nowrap;
  }





/* collab page */
/* collab page */
/* collab page */

    
.myContainer {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}



/* Header */
.header {
  padding: 20px 0;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header .title span {
  font-size: 35px;
  font-weight: 600;
}

/* About */
.about {
  padding: 30px 0;
}

.about .about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.about .about-container .about-item {
  width: 50%;
}

.about .about-container .about-item .title {
  font-size: 30px;
  padding: 10px 0;
  font-weight: 600;
}

.about .about-container .about-item iframe {
  width: 100%;
  height: 360px;
}

/* List Description */
.list-description {
  padding: 25px 0;
}

.list-description .description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.description-container .description-item {
  width: 50%;
}


.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.list-container .list {
  padding-left: 20px;
}

.list-container .list li {
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.button-container button {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .about .about-container {
      flex-direction: column;
  }

  .about .about-container .about-item {
      width: 100%;
      text-align: center;
  }

  .list-description .description-container {
      flex-direction: column;
  }

  .description-container .description-item {
      width: 100%;
  }

  .description-container .description-item p {
      text-align: center;
  }
}

@media screen and (max-width: 710px) {
  .button-container {
      justify-content: center;
  }

}

@media screen and (max-width: 710px) {
  .header .header-container {
      justify-content: center;
  }

}