body{
  font-family: Helvetica, sans-serif;
  margin: 0px;
  color: aliceblue;
}
#dynamic {
  transition: opacity 0.5s; 
}
.test {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  .menuGlow {
    
      text-decoration: underline; /* Add your preferred style for emphasis */
      color: red;
  }
.accForm{
  color: #102a45

}
  .mainContainer {
    background-color: rgba(72, 69, 69, 0.36); padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.textfield {
  color: #333;
}
  .item {
    background-color: rgba(15, 20, 15, 0.363);
    display: flex; 
    justify-content: space-between;

    margin: 5px;
    padding: 5px;
    width: 78vw;
    
    font-size: 15px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  }
  .item:hover{
    background-color: rgba(15, 20, 15, 0.547);
  }
  .item p{
    flex-shrink: 3;
  }
  .item h2{
    width: 60px;
    margin-left: 5px;
    margin-right: 4px;
    flex-grow: 3;
    margin: 2px;
  }
  .item button{
    width:120px;
    align-self: flex-end;
    position: sticky;
    margin-right: 0px;
    margin-left: 4px;
    /* height: 80px; */
  }
.logo{
  background-color: #102a45;
  width: 35px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}
  .ankiety {
    /* background-color: #3333336d; */
  }
  .rowCont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  .smallItem{
    width: 33%;
    /* margin: 10px; */
    margin-top:  17px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  .smallItem:hover {
    background-color: rgba(15, 20, 15, 0.344);
  }
.detailBig{
  flex-grow: 3;
}
.text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text * {
  width: 100%;
}

  .tableButtons {
    background-color: #123151c3; color: white;
    padding: 10px 40px; border: none;
    border-radius:15px;
    cursor: pointer;
    margin-left: auto;
    margin-left: 0px;
  }
.collabList{
  height: 30wh;
}
.collabContainer{
  background-color: #333;
  color: aliceblue;
}

  .collabTitle {
    display: flex;
    flex-direction: column;
    font-size: 27px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon{
    width: 20px;
    height: 20 px;
  }

  .iconHolder {
    display: flex;
  }
  h3 {
    font-size: large;
  }
  .nobreak{
    white-space: nowrap;
  }





