{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Rob Muze</title>
    {% include 'head/css.html' %}
</head>
<body>
    
    {% comment %} N A V - B A R {% endcomment %}
        <nav class="nav">
            <div class="container flex items-center justify-between h-20 shadow-lg">
                <h1 class="text-green-50 font-semibold text-2xl mr-4 hover:scale-125 transition duration-500">
                    Rob Muze
                </h1>
                <div class="place-content-center gap=2">
                    <div class="">
                    {% comment %} M E N U - O P C J E {% endcomment %}
                    <ul id="menu">
                        <a href="{% url 'core:index' %}" class="nav-link ml-3">Glowna</a>
                        <a href="{% url 'samples:samples' %}" class="nav-link ml-2">Sample</a>
                        <a href="{% url 'collabs:collabs' %}" class="nav-link ml-2">Kolaboracje</a>
                        <a href="{% url 'ankiety:ankiety' %}" class="nav-link ml-2">Ankiety</a>

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'core:profil' %}" class="nav-link ml-2">Dashboard </a>
                        <a href="{% url 'core:logout' %}" class="nav-link ml-2">Wyloguj</a>
                        
                        {% else %}
                        <a href="{% url 'core:signup' %}" class="nav-link">Rejestracja</a>
                        <a href="{% url 'core:login' %}" class="nav-link">Logowanie</a>
                        
                        {% endif %}
                        
                      </ul> 
                    </div>
                </div>
                <div class="shrink">
                <div class="flex flex-col">
                <p>{{ points }}pkt.</p>
                <p>xx Pobran</p>
                </div></div>
            <div>
        </nav>

{% if messages %}
    {% for message in messages %}
        <div id="toast-default" class="fixed items-center w-full max-w-xs p-4 z-50 {% if message.tags %}{{ message.tags }}{% endif %} text-white rounded-lg shadow right-4 bg-primary mt-20" role="alert">
            <div class="ml-3 text-sm font-normal">{{ message }}</div>
        </div>
    {% endfor %}
{% endif %}



<main>
    <div>
    </br>
        {% block content %}{% endblock %}
    </div>
</main>
</body>

<script>
    function hideToast() {
        var toast = document.getElementById('toast-default');
        toast.classList.add('hidden');
    }
    
    // Show the toast and then hide it after 3 seconds
    document.addEventListener('DOMContentLoaded', function () {
        var toast = document.getElementById('toast-default');
        toast.classList.remove('hidden');
        setTimeout(hideToast, 12000); // Hide the toast after 3 seconds (3000 milliseconds)
    });
</script>

</html>
