{% extends 'core/base.html' %}
{% load i18n %}{% load static %}
{% load custom_filters %}

{% block title %}Moj Profil{% endblock title %}
{% block content %}
<br><br>
<div class="bg-secondary bg-opacity-50 shadow-lg w-full">
<div class="flex flex-row flex-wrap justify-evenly">
    <div class="my-3 p-3">
        <img class="profile-pic" src="{% if profil.pic %}{{ profil.pic.url }}
        {% else %}{% static 'images/utility/no_pic.jpg' %}{% endif %}"/>
    </div>
    <div class="flex flex-col items-center justify-center">
        <a href="{% url 'core:changePassword' %}" style="display: inline-block; width: 100%;"><button class="p-2 mt-2 text-lg w-full bg-primary hover:bg-secondary rounded-xl"
            style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">{% trans "Zmień Hasło" %}</button></a>
        <a href="{% url 'core:editMail' %}" style="display: inline-block; width: 100%;"><button class="p-2 mt-2 text-lg w-full bg-primary hover:bg-secondary rounded-xl"
            style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">{% trans "Zmień Email" %}</button></a>
        <a href="{% url 'core:profilePic' %}" style="display: inline-block; width: 100%;"><button class="p-2 mt-2 text-lg w-full bg-primary hover:bg-secondary rounded-xl"
            style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">Dodaj zdjecie profilowe</button></a>
    </div>
</div>

<div class="flex flex-col items-center pb-5">
    <div class="item flex flex-row flex-wrap items-center">
        <div class="m-5"><h1>{% trans "Witaj" %}, {{ user.username }}!</h1></div>
        <div class="m-5"><p>Email:</p><p>{{ user.email }}</p></div>
       <div class="m-5"> <p>{% trans "Konto stworzone" %}:</p><p>{{ user.date_joined }}</p></div>
       <div class="m-5"><p>{% trans "Masz" %}: {{ profil.points }} {% trans "punkty" %}.</p></div>

    </div>
</div>
</div>

{% comment %} <p>{{ profil.bio }}</p> {% endcomment %}

<div class="flex flex-col items-center mt-3 px-4 py-5 bg-secondary bg-opacity-50 shadow-lg">
{% if collabs %}
        <h2 class="mainContainer mt-5 mb-4 bg-secondary p-5 rounded-xl mx-5 w-full">{% trans "Przeslane nagrania" %}</h2>
    {% for collab in collabs %}
        <div class="item">
            <h1>{{ collab.title }}</h1>
            <p>{{ collab.msg }}</p>
            <p>{{ collab.date }}</p>
           <div> <p>{% trans "Nazwa pliku" %}: <br>{{ collab.file.name|basename }}</p></div>
           <div><a href="{% url 'collabs:collab' collab.collab.id %}" class=""><button class="secondary-button">original collab - {{ collab.collab.id }}</button></a></div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="mb-12 text-2xl text-center">{% trans "Nie masz jeszcze przesłanych nagrań" %}.</h2>
{% endif %}
    </div>

</div>
{% endblock %}