{% extends 'core/base.html' %}
{% load i18n %}{% load static %}
{% load custom_filters %}

{% block title %}Moj Profil{% endblock title %}
{% block content %}
<br><br>
<div class="text-green-100 rounded-xl">

    <div class="row my-3 p-3">
        {% if profil.pic %}
        <img class="rounded-circle account-img" src="{{ profil.pic.url }}"/>
        {% else %}
        <img class="rounded-circle account-img" src="{% static 'images/utility/no_pic.jpg' %}"/>
        {% endif %}
    </div>



<div class="form-group">
        <a href="{% url 'core:changePassword' %}">{% trans "Zmień Hasło" %}</a>
        <hr>
        <a href="{% url 'core:editMail' %}"><button>{% trans "Zmień Email" %}</button></a>
        <hr>
        <a href="{% url 'core:profilePic' %}"><button>Dodaj zdjecie profilowe</button></a>
</div>




<div class="item">
    <div class="grid grid-cols-3 gap-3 mt-20">
        <h1>{% trans "Witaj" %}, {{ user.username }}!</h1>
        <p>Email: {{ user.email }}</p>
       <div> <p>{% trans "Konto stworzone" %}:</p><p>{{ user.date_joined }}</p></div>
        <p>{% trans "Masz" %}: {{ profil.points }} {% trans "punkty" %}.</p>
        <p>{{ profil.bio }}</p>
        {% get_current_language as LANGUAGE_CODE %}
        <p>{% trans "Język" %}: {{ LANGUAGE_CODE }}</p>
    </div>
</div>
<div class="mt-6 px-6 py-12 bg-primary bg-opacity-50 shadow-lg">
{% if collabs %}
        <h2 class="mb-12 text-2xl text-center">{% trans "Przeslane nagrania" %}</h2>
    {% for collab in collabs %}
        <div class="item">
            <h1>{{ collab.title }}</h1>
            <p>{{ collab.msg }}</p>
            <p>{{ collab.date }}</p>
           <div> <p>{% trans "Nazwa pliku" %}: <br>{{ collab.file.name|basename }}</p></div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="mb-12 text-2xl text-center">{% trans "Nie masz jeszcze przesłanych nagrań" %}.</h2>
{% endif %}
    </div>

</div>
{% endblock %}