{% extends 'core/base.html' %}
{% block title %}Zmien Email{% endblock title %}
{% block content %}
</br></br></br></br></br>


<div class="flex flex-col items-center px-4 py-5 bg-secondary bg-opacity-50 shadow-lg">
    {% if errors %}
        <div id="form_errors" class="self-start bg-accent p-3 ml-8 mb-4 bg-opacity-90 shadow-lg rounded-md">
                    <strong>Please enter a valid email address!</strong>
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="w-full">
        <div class="flex flex-wrap items-center justify-around grow">
        {% csrf_token %}
                <div class="flex flex-wrap">
                    <label class="small mx-2">Email:</label>
                    <div  style="color: black">
                        {{ emailForm.email }}</div>
        </div>
        <button type="submit" class="secondary-button w-1/6">Save Changes</button>
        <button type="reset" class="secondary-button w-1/6">Reset</button>
    </div>
    </form>
</div>

{% endblock %}