{% extends "core/base.html" %}

{% block title %}
Glowna
{% endblock title %}

{% block content %}

{% comment %} <section id="home" class="home-section">
    <div class="order-2 md:order-1 mt-10">
        <h2 class="text-5xl md:text-5xl font-bold">Witaj na</h2>
        <h2 class="text-5xl md:text-6xl font-bold mt-2"><span class="text-blue-800">RobMuze.pl</span></h2>
        <h3 class="text-2-xl md:text-3-xl font-bold opacity-70 mt-5 mb-10">Zasoby do produkcji muzyki</h3>
        <a href="#przegladaj" class="btn-primary mx-12">Przegladaj</a>
    </div>

    <div class="container-hero-image">
        <img class="w-full h-full object-cover opacity-90 object-center"
        src="static\images\people.jpg"
        alt="profile"/>
    </div>
</section> {% endcomment %}


<section id="about" clcass="py-32">

    <div class="flex flex-col md:flex-row items-center justify-center gap-10 md:gap-20">
        <div class="w-68 h-48 overflow-hidden bg-none">
            <img class="w-full h-full object-cover opacity-100 hover:scale-125 transition duration-500"
        src="static\images\wip.png"/>
        </div>
    </div>
</section>



{% endblock %}