{% extends "core/base.html" %}
{% load static %}
{% block title %}
Glowna
{% endblock title %}

{% block content %}

<section class="mt-20">

<div class="flex flex-col justify-center items-center mt-20 h-4/5">
    <div class="flex flex-col bg-opacity-100 bg-secondary p-8 rounded-lg shadow-lg h-2/3" style="width: 92vw; display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" id="upperDiv">
        <div class="mb-4">
            <img src="{% static 'images/coolpics/aistudio.jpeg' %}" alt="Image" class="w-full rounded-lg" style="width: 30vw;">
        </div>
        <div class="pl-6" style="display:flex; flex-direction: column; align-items:center">
            <h2 class="text-3xl font-semibold mb-4">Sample</h2>
            <p class="text-white mb-4">Zbior unikatowych sampli i nagran.</br>Materialy do produkcji muzycznej.</p>
            <a href="{% url 'samples:samples' %}"><button class="btn-primary">Sprawdz!</button></a>
        </div>
    </div>


</div>

<div class="p-4 place-content-center max-w-xl mx-auto bg-secondary bg-opacity-50 shadow-lg" id="lowerDiv">

    <h2 class="font-heading mb-8 text-3xl font-bold">Odpowiedz na kilka pytan aby pobrac sample!
    </h2>

    <div class="flex">
        <div class="mr-4 flex flex-col items-center">
            <div>
                <div class="flex h-10 w-12 items-center justify-center rounded-full border-2 border-primary"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-6 w-6 text-primary dark:text-slate-200">
                        <path d="M12 5l0 14"></path>
                        <path d="M18 13l-6 6"></path>
                        <path d="M6 13l6 6"></path>
                    </svg></div>
            </div>
            <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pt-1 pb-8">
            <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Zdobadz punkty
            </p>
            <p class="text-gray-600 dark:text-slate-400">Odpowiadajac na kilka pytan dotyczacych twoich zainteresowan, jak planujesz sie w nich rozwijac i jakie sa Twoje cele? 
            </p>
        </div>
    </div>

    <div class="flex">
        <div class="mr-4 flex flex-col items-center">
            <div>
                <div
                    class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-blue-900 bg-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-6 w-6 text-white dark:text-slate-200">
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="pt-1 ">
            <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Pobieraj sample!</p>
        </div>
    </div>

</div>

<script>
    window.addEventListener('load', function() {
        setTimeout(function() {
            document.body.classList.add('loaded');
        }, 650);  // adjust this delay to suit your needs
    });
</script>

<style>
    #upperDiv {

        z-index: 2;
    }
    
    #lowerDiv {
        opacity: 0;
        /* This will place the lower div behind the upper div */
        position: relative;
        z-index: 1;
        /* This will apply the slide down animation */
        animation: slideDown 2s ease-in-out forwards;
    }
    
    /* This will change the opacity and transform of the lower div after a delay */
    body.loaded #lowerDiv {
        opacity: 1;
    }
    
    /* Define the slide down animation */
    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

{% endblock %}