{% extends "core/base.html" %}

{% block title %}
Glowna
{% endblock title %}

{% block content %}


<section class="mt-20">

<div class="flex flex-col justify-center items-center mt-20 h-4/5">
    <div class="flex flex-col md:flex-row md:w-4/5 bg-opacity-50 bg-secondary p-8 rounded-lg shadow-lg h-2/3">
        <div class="md:w-1/3 mb-4 md:mb-0">
            <img src="your-image-url.jpg" alt="Image" class="w-full rounded-lg">
        </div>
        <div class="md:w-2/3 md:pl-6 h-">
            <h2 class="text-3xl font-semibold mb-4">Sample</h2>
            <p class="text-white mb-4">Zbior unikatowych sampli i nagran.</br>Materialy do produkcji muzycznej.</p>
            <a href="{% url 'samples:samples' %}"><button class="btn-primary">Sprawdz!</button></a>
        </div>
    </div>

    {% comment %} <div class="flex flex-col md:flex-row md:w-4/5 bg-opacity-50 bg-secondary p-8 rounded-lg shadow-lg">
        <div class="md:w-1/3 mb-4 md:mb-0">
            <img src="your-image-url.jpg" alt="Image" class="w-full rounded-lg">
        </div>
        <div class="md:w-2/3 md:pl-6">
            <h2 class="text-3xl font-semibold mb-4">Kolaboracje</h2>
            <p class="text-white mb-4">Przeslij swoj pomysl na utwor.</p>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">See More</button>
        </div>
    </div> {% endcomment %}
</div>


<div class="p-4 place-content-center max-w-xl mx-auto bg-secondary bg-opacity-50 shadow-lg">

    <h2 class="font-heading mb-8 text-3xl font-bold lg:text-4xl">Odpowiedz na kilka pytan aby pobrac sample!
    </h2>

    <div class="flex">
        <div class="mr-4 flex flex-col items-center">
            <div>
                <div class="flex h-10 w-12 items-center justify-center rounded-full border-2 border-primary"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-6 w-6 text-primary dark:text-slate-200">
                        <path d="M12 5l0 14"></path>
                        <path d="M18 13l-6 6"></path>
                        <path d="M6 13l6 6"></path>
                    </svg></div>
            </div>
            <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pt-1 pb-8">
            <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Zdobadz punkty
            </p>
            <p class="text-gray-600 dark:text-slate-400">Odpowiadajac na kilka pytan dotyczacych twoich zainteresowan, jak planujesz sie w nich rozwijac i jakie sa Twoje cele? 
            </p>
        </div>
    </div>


    <div class="flex">
        <div class="mr-4 flex flex-col items-center">
            <div>
                <div
                    class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-blue-900 bg-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-6 w-6 text-white dark:text-slate-200">
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="pt-1 ">
            <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Pobieraj sample!</p>
        </div>
    </div>

</div>
<style>
    #content {
        transition: opacity 0.5s; 
    }
    </style>
<div class="mainContainer" id="content">
    <p>transition test</p>
    <button onclick="showConfirmation()">Download</button>
</div>


<script>
function showConfirmation() {
    var content = document.getElementById('content');
    content.style.opacity = '0';
    setTimeout(function() {
        content.innerHTML = '<p>Make sure that you have a stable connection because you won\'t be able to re-download.</p>';
        content.style.opacity = '1';
    }, 500);  // transition duration
}
</script>

</section>






{% endblock %}