{% extends 'core/base.html' %}
{% block title %}Zmien Haslo{% endblock title %}
{% block content %}
</br></br></br>

<div class="flex flex-col justify-center items-center px-4 py-5 bg-secondary bg-opacity-50 shadow-lg">
    <h3 class="">Zmien Haslo</h3>
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="m-2 flex justify-between flex-wrap">
            <label class="" for="id_old_password">Old Password</label>
            <input style="color: black" type="password" name="old_password" autocomplete="new-password"
                    class="" required id="id_old_password"
                    placeholder="Enter Old Password"/>
        </div>

            <div class="m-2 flex justify-between flex-wrap">
                <label class="" for="id_new_password1">New Password</label>
                <input style="color: black" type="password" name="new_password1" autocomplete="new-password"
                        class="" required id="id_new_password1"
                        placeholder="Enter New Password"/>
        </div>
            <div class="m-2 flex justify-between flex-wrap">
                <label class="mr-3" for="id_new_password2">Confirm New Password</label>
                <input style="color: black" type="password" name="new_password2" autocomplete="new-password"
                        required id="id_new_password2" class=""
                        placeholder="Confirm New Password"/>
            </div>
            

        <div class="m-2 flex justify-around flex-wrap">
            <button type="submit" class="secondary-button" id="reset">Update Password</button>
        </div>
    </form>
</div>


{% endblock %}