{% extends 'core/base.html' %}{% load static %}
{% block title %}Zmień Avatar{% endblock title %}
{% block content %}
</br></br></br>



<div class="flex flex-col items-center px-4 py-5 bg-secondary bg-opacity-50 shadow-lg">
    <h1 class="mb-5" style="font-size: 25px">Zmień Avatar</h1>
<div class="flex flex-row flex-wrap w-full justify-evenly">
    <div class="my-3 p-3">
        <img class="profile-pic" src="{% if profil.pic %}{{ profil.pic.url }}
        {% else %}{% static 'images/utility/no_pic.jpg' %}{% endif %}"/>
    </div>
    <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="py-4 mt-6 w-full text-lg bg-secondary hover:bg-teal-700 rounded-xl" type='submit'>Przeslij</button>
    </form>
</div>
</div>


{% endblock %}