{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Rejestracja" %}
{% endblock title %}

{% block content %}
    <div class="w=1/2 my-5 p-6 bg-primary rounded-xl mt-20 mx-10">
        <div id="dyn">
        <h1 class="mb-6 text-3xl">{% trans "Zarejestruj nowe konto" %}</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3">
                <label class="inline-block mb-2">{% trans "Nazwa Uzytkownika" %}:</label><br>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">{% trans "Adres Email" %}:</label><br>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">{% trans "Czym zajmujesz sie w muzyce" %}?</label><br>
                {{ form.profesja }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">{% trans "Haslo" %}:</label><br>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">{% trans "Powtorz Haslo" %}</label><br>
                {{ form.password2 }}
            </div>
            <div class="signupChecks">
            <div class="mb-3">
                {{ form.captcha }}
            </div>  
            <div class="mb-3 checkbox-div" style="margin: 10px; padding: 10px; border-radius: 10px">
                <input type="checkbox" id="privacyPolicyCheckbox" required>
                <label for="privacyPolicyCheckbox">I agree to the <button class="btn-primary-light transition duration-150 ease-in-out hover:scale-105" onclick="showConfirmation()">{% trans "Polisa ochrony danych" %}</button></label>
            </div>
        </div>
            
            
            

        <div style="display: flex; justify-content: center;">
            <button class="py-4 w-full mx-5 text-lg bg-secondary hover:bg-teal-700 rounded-xl transition duration-200 ease-in-out hover:scale-105">{% trans "Zarejestruj się" %}</button>
        </div>
        </form>
    </div>
    </div>


    <script>


    var policy = "{{ policy|escapejs }}";
    var originalContent = null;

    function showConfirmation() {
        var content = document.getElementById('dyn');
        originalContent = content.innerHTML; 
        var height = content.offsetHeight;  
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'flex'; 
            content.style.justifyContent = 'flex-start';
            content.style.alignItems = 'flex-start';
            content.innerHTML = policy + '<button onclick="goBack()" class="btn-primary-light">Powrot</button>';
            
            content.style.flexDirection = 'column';
            content.style.overflow = 'auto';
            content.style.maxHeight = height + 'px';  
            content.style.opacity = '1';
    
           
            var countdown = 5;
            var countdownButton = document.getElementById('countdownButton');
            var countdownInterval = setInterval(function() {
                countdown--;
                if (countdown >= 1) {
                    countdownButton.style.opacity = '0.65';
                    countdownButton.innerText = countdown;
                } else {
                  
                    clearInterval(countdownInterval);
                    countdownButton.innerText = 'Pobierz!';
                    countdownButton.style.opacity = 1; 
                    countdownButton.disabled = false;
                    countdownButton.onclick = function() {
                        window.location.href = downloadUrl;
                    };
                }
            }, 1000);
        }, 500);  
    }

    function goBack() {
        var content = document.getElementById('dyn');
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'block';  // restore the original display value
            content.innerHTML = originalContent;  // restore the original content of the div
            content.style.opacity = '1';
        }, 500);
    }



    var checkboxDiv = document.querySelector('.checkbox-div');

    document.getElementById('privacyPolicyCheckbox').addEventListener('invalid', function() {
        checkboxDiv.style.backgroundColor = 'red';
        this.setCustomValidity('{% trans "Musisz zgodzic sie na warunki uzywania serwisu zeby zarejestrowac konto." %}');
    });

    document.getElementById('privacyPolicyCheckbox').addEventListener('change', function() {
        console.log('changed');
        checkboxDiv.style.backgroundColor = '';
        this.setCustomValidity('');
    });


    </script>
    
{% endblock content %} 