{% extends 'core/base.html' %}
{% block title %}Contact{% endblock title %}
{% block content %}
{% load static %}

<article class="wrapper">
{% if unanswered %}
<div class="flex bg-secondary bg-opacity-50 mt-10 pt-4">
    <div class="text-gray-100 m-10 pl-5">
        <p>losowe pytanie: </br></p>
        <h1>{{ random_poll.tytol }} </h1>
        <p>{{ random_poll.pytanie }}</p>
    </div>
    <div class="grow"> 
    <form method="post" action=".">
        {% csrf_token %}
                {{ form.answer }}
           
      {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        
            <button class="btn-primary m-3">Submit</button>
        </form>
    </div>
</div>
{% endif %}

<div class="mainContainer">
    
{% if unanswered %}
<div class="item">
<table class='ankiety'>
    <thead>
        <tr>
            <th>Tytol</th>
            <th>Pytanie</th>
            <th>Data</th>
            <th>Kategoria</td>
        </tr>
    </thead>
    <tbody>
        {% for ankieta in unanswered %}
        <tr>
            <td>{{ ankieta.tytol }}</td>
            <td>{{ ankieta.pytanie }}</td>
            <td>{{ ankieta.data }}</td>
            <td>{{ ankieta.kategoria }}</td>
            <td><a href="{% url 'ankiety:ankietaotw' ankieta.id %}"><button class="btn-primary">Odpowiedz</button></a>
        </tr>
        {% endfor %}
    </tbody>

</table>
</div>
{% else %}
<div class="item">Wszystkie pytanie zostaly odpowiedziane!</div>
{% endif %}

{% if answered %}
<div class="item">
<table class="ankiety">
    <thead>
        <tr>
            <th>Tytol</th>
            <th>Pytanie</th>
            <th>Data</th>
            <th>Kategoria</td>
        </tr>
    </thead>

    <tbody>
        {% for ankieta in answered %}
        <tr>
            <td>{{ ankieta.tytol }}</td>
            <td>{{ ankieta.pytanie }}</td>
            <td>{{ ankieta.data }}</td>
            <td>{{ ankieta.kategoria }}</td>
            <td><a href="{% url 'ankiety:ankietaotw' ankieta.id %}"><button class="btn-primary">Zobacz Odpowiedz</button></a>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endif %}

</article>
<script type="text/javascript">
    textarea = document.getElementById('id_answer');
    textarea.addEventListener('input', autoResize, false);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }
</script>
{% endblock %}