{% extends 'core/base.html' %}
{% block title %}Contact{% endblock title %}
{% block content %}

<div>
    <table>
        <thead class="bg-green-800">
            <tr>
                <th>Tytol</th>
                <th>Pytanie</th>
                <th>Data</th>
                <th>Kategoria</td>
            </tr>
        </thead>
        <tbody>
            {% for ankieta in answered %}
            <tr>
                <td>{{ ankieta.tytol }}</td>
                <td>{{ ankieta.pytanie }}</td>
                <td>{{ ankieta.data }}</td>
                <td>{{ ankieta.kategoria }}</td>
                <td><a href="{% url 'ankiety:ankietaotw' ankieta.id %}">Zobacz odpowiedz</a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</br>
<table>
    <thead class="bg-green-800">
        <tr>
            <th>Tytol</th>
            <th>Pytanie</th>
            <th>Data</th>
            <th>Kategoria</td>
        </tr>
    </thead>
    <tbody>
        {% for ankieta in unanswered %}
        <tr>
            <td>{{ ankieta.tytol }}</td>
            <td>{{ ankieta.pytanie }}</td>
            <td>{{ ankieta.data }}</td>
            <td>{{ ankieta.kategoria }}</td>
            <td><a href="{% url 'ankiety:ankietaotw' ankieta.id %}">Odpowiedz</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% comment %} <script>
    alert('{{ message }}');
</script> {% endcomment %}

</div>


{% endblock %}