{% extends 'core/base.html' %}
{% block title %}ankieta otw{% endblock %}
{% block content %}



<div class="col-span-2 p-6 rounded-xl mt-40">

    <div class="mt=20">
        <h1>{{ ankieta.tytol }}</h1>
        <h3 class="text-red-700">Odpowiedz na to pytanie zostala juz udzielona!</h3>
        <p>{{ ankieta.pytanie }}</p>
        <p>Twoja zajebista odpowiedz:</p>

        {% comment %} GET ONLY FIRST ITEM {% endcomment %}
{% for odpowiedz in odpowiedz %}
        <p>{{ odpowiedz.answer }}</p>
{% endfor %}
    </div>
    </div>
</div>



{% endblock content %}