{% extends 'core/base.html' %}
{% block title %}Already downloaded{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<br/>

<h1>Pobrales/as juz ten sampel!!!</h1>
<div class="p-6 rounded-xl mt-40 mainContainer">

        
        <p>Urwalo Ci od internetu i nie pobralo sie? Jesli chcesz pobrac ponownie to 
        skontaktuj sie ze mna i odblokuje mozliwosc pobrania tej paczki, spoko.</p><br>
        
        <p><i>Dlaczego tak?</i></p>
        <p>Dlatego, ze mam ograniczone zaoby serwera. Wszystko kosztuje, 
        za darmo to se mozesz bloga na wykopie zalozyc najwyzej.<br> 
        <b>Nie mam chajsu</b> na to zeby ludzie po kilka razy pobierali to samo.</p>

</div>

{% endblock content %}