{% extends 'core/base.html' %}
{% block title %}No points{% endblock %}
{% block content %}

<div class="p-6 bg-primary rounded-xl mx-5 flex flex-col items-center justify-center">
    <div class="my-5 mt-20 mx-10 p-6 w-full rounded-xl mx-5 shadow bg-accent flex flex-col items-center justify-center">
        {% if LANG == "pl" %}
                <h2>Zeby pobrać {{ sampel.title }} you need {{ sampel.cena }} punktów. 
                Niestety posiadasz tylko {{ points }}.</h2>
        {% elif LANG == 'en' %}
        <h2>You need {{ sampel.cena }} points in order to download {{ sampel.title }}. 
                Unfortunately, you only have {{ points }} points.</h2>
        {% endif %}
    </div>
    <div class="w-3/4">
        <a href="{% url 'ankiety:ankiety' %}">
            <button class="secondary-button p-10 w-full transition duration-200 ease-in-out hover:scale-105">Go answer some polls to get your points!</button>
        </a>
    </div>
</div>

{% endblock content %}