{% extends 'core/base.html' %}
{% block title %} {{ sample.title }} {% endblock %}
{% block content %}


</br></br></br>

<div class="mx-auto px-4 bg-opacity-50 bg-secondary p-8 rounded-lg shadow-lg mb-4">
    <div class="flex flex-col -mx-4">
        <div class="flex-grow-0 px-4">
            <div class="rounded-lg bg-gray-300 dark:bg-gray-700 mb-4 h-96">
                <img class="w-full h-96 object-cover" src="{{ sample.image.url }}" alt="{{ sample.title }} Image">
            </div>
        </div>
        <div class="px-4" id="dynamic">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{ sample.title }}</h2>
            <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">{{sample.description}}</p>
            <div class="flex mb-4">
                <div class="item">
                    <span class="font-bold text-gray-700 dark:text-gray-300">
                        <p><strong>Added Date:</strong> {{ sample.added_date }}</p>
                    </span>
                    <span class="text-gray-600 dark:text-gray-300">
                        <p><strong>Artist:</strong> {{ sample.artist }}</p>
                        <p><strong>Cena:</strong> {{ sample.cena }}</p>
                    </span>
                </div>
                <div class="item">
                    <span class="font-bold text-gray-700 dark:text-gray-300">{{ sample.tags }}</span>
                </div>
            </div>
            <div class="flex -mx-2 mb-4">
                <div class="w-1/2 px-2">
                    {% if request.user.is_authenticated %}
                      
                            <button class="btn-primary" onclick="showConfirmation()">Pobierz!</button>
        
                    {% else %} 
                        <div style="display: inline">
                            <button style="background-color: red" class="btn-primary">Pobierz!</button>
                            <h2>Zaloguj sie zeby pobierac sample!</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var downloadUrl = "{% url 'samples:download' sample.id %}";
    var originalContent = null;

    function showConfirmation() {
        var content = document.getElementById('dynamic');
        originalContent = content.innerHTML; 
        var height = content.offsetHeight;  
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'flex'; 
            content.style.justifyContent = 'center';  
            content.style.alignItems = 'center';  
            content.innerHTML = '<p>Upewnij sie, ze masz stabilne polaczenie poniewaz domyslnie mozesz pobrac kazdy sampel tylko raz!</p>' +
            '<button id="countdownButton" style="width: 168px; opacity: 0.65; transition: opacity 0.45s ease-in-out" disabled class="btn-primary">5</button>' +
            '<button onclick="goBack()" class="btn-primary">Powrot</button>';
            content.style.minHeight = height + 'px';  
            content.style.opacity = '1';
    
           
            var countdown = 5;
            var countdownButton = document.getElementById('countdownButton');
            var countdownInterval = setInterval(function() {
                countdown--;
                if (countdown >= 1) {
                    countdownButton.style.opacity = '0.65';
                    countdownButton.innerText = countdown;
                } else {
                  
                    clearInterval(countdownInterval);
                    countdownButton.innerText = 'Pobierz!';
                    countdownButton.style.opacity = 1; 
                    countdownButton.disabled = false;
                    countdownButton.onclick = function() {
                        window.location.href = downloadUrl;
                    };
                }
            }, 1000);
        }, 500);  
    }

    function goBack() {
        var content = document.getElementById('dynamic');
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'block';  // restore the original display value
            content.innerHTML = originalContent;  // restore the original content of the div
            content.style.opacity = '1';
        }, 500);
    }
    </script>
    

{% endblock %}
