{% extends 'core/base.html' %}
{% block title %} {{ sample.title }} {% endblock %}

{% load static %}
{% load i18n %}

{% block content %}



</br></br></br>

<div class="mx-auto px-4 bg-opacity-50 bg-secondary p-8 rounded-lg shadow-lg mb-4">
    <div class="flex flex-col -mx-4">
        <div class="flex-grow-0 px-4">
                <img style="max-height: 300px; max-width: 500px;" class="w-full h-96 object-cover" src="{{ sample.image.url }}" alt="{{ sample.title }} Image">
        
        </div>
        <div class="px-4" id="dynamic">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{ sample.title }}</h2>
            <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">{{sample.description}}</p>
            <div class="flex mb-4">
                <div class="item">
                    <span class="font-bold text-gray-700 dark:text-gray-300">
                        <p><strong>Added Date:</strong> {{ sample.added_date }}</p>
                    </span>
                    <span class="text-gray-600 dark:text-gray-300">
                        <p><strong>Artist:</strong> {{ sample.artist }}</p>
                        <p><strong>Cena:</strong> {{ sample.cena }}</p>
                    </span>
                </div>
                <div class="item">
                    <span class="font-bold text-gray-700 dark:text-gray-300">{{ sample.tags }}</span>
                </div>
            </div>
            <div class="flex -mx-2 mb-4">
                <div class="w-1/2 px-2">
                    {% if request.user.is_authenticated %}
                      
                            <button class="btn-primary" onclick="showConfirmation()">Pobierz!</button>
        
                    {% else %} 
                        <div style="display: inline">
                            <button style="background-color: red" class="btn-primary">Pobierz!</button>
                            <h2>Zaloguj sie zeby pobierac sample!</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var downloadUrl = "{% url 'samples:download' sample.id %}";
    </script>
<script src="{% static 'js/sample_detail.js' %}"></script>    

{% endblock %}
