{% extends 'core/base.html' %}
{% block title %}
Browse
{% endblock title %}

{% block content %}



<section class="mt-20">


    <div  class="flex justify-center overflow-x-auto sm:rounded-lg">

        <table  style=" box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);" class="table-auto bg-secondary bg-opacity-50 text-sm text-left text-white shadow-lg">
            <thead class="text-xs uppercase bg-primary">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nazwa
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Opis
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Rodzaj
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cena
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for sampel in sample %}
                <tr class="product-td">
                    <td class="w-32 p-4">
                        <a href="{% url 'samples:sampel' sampel.id %}"><img src="{{ sampel.image.url }}" 
                            style="border-radius: 15%; width: 64px; height: 64px; overflow: hidden;" /></a>
                        
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        <a href="{% url 'samples:sampel' sampel.id %}"><div>{{ sampel.title }}</a>
                    </td>
                    <td class="px-6 py-4">
                        {{ sampel.description }}
                    </td>
                    <td class="py-4 font-semibold text-gray-900 dark:text-white">
                        <audio controls style="border-radius: 15%">
                            <source src="{{ sampel.demo.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                          </audio>
                    </td>
                    <td class="px-6 py-4">
                        <p>{{ sampel.cena }}pkt.</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% comment %} <a href="{% url 'samples:message' %}">MSG</a> {% endcomment %}

</section>

<script>
    document.addEventListener('play', function(e) {
        var audios = document.getElementsByTagName('audio');
    
        for (var i = 0, len = audios.length; i < len; i++) {
            if (audios[i] != e.target) {
                audios[i].pause();
            }
        }
    }, true);
</script>


{% endblock content %}