{% extends "core/base.html" %}
{% load static %}


{% block content %}

<script src="{% static 'js/check-sub.js' %}" defer></script>
<script>
        // Your JavaScript code here
        const volumeOffset = "{{ form.volumeOffset.value|default:'1' }}";
        const volumeOffsetFloat = volumeOffset.replace(',', '.');
        console.log(volumeOffsetFloat);
</script>

<a href="{% url 'collabs:collab_moderate' pk=stage.collab.id %}"><button class="absolute bg-gray-500 p-4" style="left: 0px; top: 135px">back to collab</button></a>

<audio src="{{ stage.backing_track.url }}" id="backing"></audio>
<audio src="{{ response.file.url }}" id="submitted"></audio>

<div class="flex flex-col bg-primary p-2 mt-10 items-center w-4/5 rounded-xl">

    {% comment %} info {% endcomment %}
    <div class="flex w-full justify-evenly my-2">
        <div class="p-2">Name: {{ response.title }}</div>
        <div class="p-2">Author: {{ response.user }}</div>
    </div>
    <div class="flex w-full items-center justify-center mb-8">
        <div class="m-2">Description:</div>
        <div class="p-4 m-2 grow bg-gray-100 text-black rounded">{{ response.msg }}</div>
    </div>

    

    {% comment %} transport {% endcomment %}
    <div class="bg-secondary flex flex-col items-center w-full">
        <button id="play" class="border-gray-300 rounded w-1/2 bg-gray-800 border-2 my-4 p-3 hover:bg-gray-700">PLAY</button>
        <input type="range" style="width: 45vw" class="m-5" id="progress" value="0" min="0" max="1" step="0.01">
    </div>

    <div id="info" class="pt-4">
        <p>Submission user mix level: {{form.volumeOffset.value}}</p>
        {{ form.volumeOffset.value }}
    </div>

    {% comment %} form {% endcomment %}
    
    <form method="post" class="flex flex-col items-center w-full">
        {% csrf_token %}
        <div class="w-full p-4 flex flex-col justify-center items-center my-2 rounded" id='confirm-box'>
        <div class="flex">
            <label class="px-4" for="id_volumeOffset">Adjust Volume:</label>
            <input type="range" class="p-2" name="volumeOffset" id="id_volumeOffset" 
            {% comment %} value="{% if form.volumeOffset.value %}{{ form.volumeOffset.value }}{% else %}1{% endif %}"  {% endcomment %}
            {% comment %} value="{{form.volumeOffset.value}}" {% endcomment %}
            value=""

            min="0" max="2" step="0.01">
        </div>
            <div class="p-2">
                <label for="id_approved">Approve:</label>
                <input type="checkbox" name="approved" id="id_approved" {% if form.approved.value %}checked{% endif %}>
            </div>
        </div>
        <div id="warning" style="display: none" class="flex items-center w-full my-2 bg-red-700">
            <div class="m-5 grow">ARE YOU SURE?</div>
            <button id='cancel' class="border-gray-300 m-2 rounded w-1/3 border-2 p-2 bg-gray-800 hover:bg-gray-800">Nah</button>
        </div>
        
        <button style="display: none" id="submit" type="submit" class="border-red-300 rounded w-1/2 m-2 border-2 p-2 bg-red-900 hover:bg-red-700">Yes, Submit</button>

    </form>
    <button style="display: " id="confirm-btn" class="border-gray-300 rounded w-1/3 border-2 p-2 m-2 bg-gray-800 hover:bg-gray-700">Submit</button>



</div>
{% endblock %}-