{% extends "core/base.html" %} {% load static %} {% block content %}
<div class="mt-20 w-3/4">
  {% if collabs %}
  <div
    class="items-between w-full justify-evenly rounded border-2 border-white bg-primary1-700"
  >
    {% for collab in collabs %}
    <div class="my-5 flex items-center justify-evenly">
      <h1 class="p-4">{{ collab.title }}</h1>
      <ul class="p-2">
        {% for response in collab.unapproved_responses %}
        <li class="p-1">
          {{ response.title }} by {{ response.author }} - id: {{ response.id }}
          <a href="{% url 'check-sub' response.id %}"
            ><button
              class="btn"
            >
              check
            </button></a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h2>No unapproved submissions</h2>
  {% endif %}


{% endblock %}
