{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock title %}
{% load static %}

{% block content %}
  
<br><br><br><br>







<div class="mainContainer">



    <div style="display: flex; flex-direction: column; height: 100vh;">
        <div class="bg-secondary" style="display: flex; justify-content: space-between; align-items: center; flex: 1;">
            <h1 style="flex: 3;">Title</h1>
            <div style="flex: 1;">Timer</div>
        </div>
        <div style="flex: 2;">Description</div>
        <div style="display: flex; justify-content: space-between; align-items: center; flex: 1;">
            <button>Send</button>
            <button>Vote</button>
        </div>
    </div>
    









    <div class="item">
        <div class="detailSmall">
            {% comment %} DISPLAY TAGS {% endcomment %}
            <div class="iconHolder">
            {% if collab.wokal == True %}
            <img class="icon" src="{% static 'images/icons/vocals' %}.png" alt=""/> 
            {% endif %}
            {% if collab.instrument == True %}
            <img class="icon" src="{% static 'images/icons/guitar' %}.png" alt=""/> 
            {% endif %}
            </div>
        </div>
        <div class="detailBig">
            <div class="collabTitle">{{collab.title}}</div>
        </div>
    </div>
    <div class="item">
        <div class="detailSmall">
            <p>{{ collab.date }}</p>
            <p>Glosowanie:
            {% if colab.glosowanie %} V
            {% else %}
            X
            {% endif %}
            </p>
        </div>
        <div class="detailBig">
            <div class="collabDesc">
                {{collab.desc}}
                </div>
        </div>
    </div>

<p>Ilosc przeslanych zgloszen: {{ submission_count }}</p>
<div id="countdown-timer"></div>

    <p>co jest w paczce?</p>
    
    

    {% if collab.download_pack %}
    <p>Oryginalny podklad</p>
    <audio controls class="audio-player">
        <source src="{{ collab.download_pack.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
{% endif %}




    <p>nuty .pdf</p>
    <p>posluchaj demo</p>
<p>pobierz pliki</p>

<p>Nagranie musi miec format pliku wave '.wav' o czestotliwosci probkowania 48kHz oraz glebii bitowej 24b</p>
<p>add the js upload warning before proceeding to upload page (cear the div with and inject the warning)</p>




{% if request.user.is_authenticated %}
<a href="{% url 'collabs:przeslij' collab.id %}">
<button class="tableButtons">
    Przeslij swoje nagranie/ przeslano?.</button></a>
{% else  %}
    <p style="background-color: red">Zaloguj sie zeby przeslac swoje nagranie</p>
 {% endif %}


 <a href="#" style="margin-top: 20px">
    <button class="tableButtons">Przejdz do Glosowania</button></a>




</div>

<script>
var timeRemaining = {{ time }};

function updateCountdownTimer() {
    var days = Math.floor(timeRemaining / (3600 * 24));
    var hours = Math.floor((timeRemaining % (3600 * 24)) / 3600);
    var minutes = Math.floor((timeRemaining % 3600) / 60);
    var seconds = Math.floor(timeRemaining % 60);

    document.getElementById('countdown-timer').textContent = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    if (timeRemaining <= 0) {
        clearInterval(countdownTimer);
        document.getElementById('countdown-timer').textContent = "Submission closed";
    }
}

updateCountdownTimer();

var countdownTimer = setInterval(function() {
    timeRemaining--;
    updateCountdownTimer();
}, 1000);
    </script>


{% endblock content %} 