{% extends 'core/base.html' %}
{% block title %}
Kolaboracje
{% endblock title %}

{% block content %}
   
<br><br><br><br>

<a href="{% url 'collabs:votings' %}">yo</a>

{% for collab in collabs %}
  <h2>{{collab.title}}</h2>
  <p>{{collab.desc}}</p>
  <a href="{% url 'collabs:collab' collab.id %}">
  <button style="background-color: #007bff; color: white; padding: 10px 40px; border: none; border-radius: 15px; cursor: pointer;">
      Dowiedz sie wiecej</button></a>
    <br>
{% endfor %}


{% endblock %} 