{% extends 'core/base.html' %}
{% block title %}
Moderate {{collab.title}}
{% endblock title %}
{% load i18n %}{% load static %}

{% block content %}

{% get_current_language as LANG %}

<br><br>
<script src="{% static 'js/player1.js' %}" defer></script>

<div class="fixed p-3 gap-2 bg-opacity-50 ml--50 flex flex-col justify-between bg-contrast-600" style="right: 0px; top: 80px; width: 13vw; height: 90vh">
    <p class="item">ADMIN PANEL</p>
    <button disabled class="bg-slate-800 text-opacity-60">add new stage</button>
    <div>

            <div class="">
                <p>unchecked</p>
                <p>submissions:</p>
            </div>
            {% for sub in subs %}
            <div>
            <a href="{% url "check-sub" pk=sub.id %}"><button class="p-2 my-1 px-6 bg-slate-600">Check a Submission by: {{ sub.user.username }}</button></a>
            </div>
            {% endfor %}
        </div>
    <a href="{% url 'collabs:collab' pk=collab.id %}" class="w-full"><button class="bg-slate-700 mt-8 w-full">exit panel</button></a>
</div>

<div class="absolute wrapper w-5/6 flex items-center flex-col mt-8 rounded" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); left: 20px">

    <section class="flex w-full p-6 gap-8 mx-5 border-2 border-primary1-700 rounded-t-xl bg-primary1-700 items-center rounded">
        <div class="w-2/3 flex flex-col gap-6">
            <h3>Collab title: {{ collab.title }}</h3>
            <p>Ilosc glosow {{ vote_count }}</p>
            <h3 id="author" class="text-gray-500 text-xl leading-6">Author</h3>
        </div>
        <div>
            <p>Description: </p>
            <p>{{ collab.desc }}</p>
        </div>

        <div style="w-full flex flex-wrap">
            <img id="cover" src="{{ collab.pic.url }}" style="width: 370px" alt="Cover Image" class="rounded z-10" />
        </div>
    </section>


    <section id="current-stage" class="w-full flex">
        <div class="p-6 w-3/5 bg-primary1-800 flex justify-between">
            <div class="flex flex-col justify-around">
                <p>Current stage: </p>
                <h3>
                    {% if LANG == 'pl' %}
                    {{ voting.name }}
                    {% elif LANG == 'en'%}
                    {{ current_stage.name }}
                    {% endif %}
                </h3>
                <p class="p-1">{{ current_stage.desc }}</p>
            </div>
            <div>
                <div class="date-time">
                    <div class="date"><span>created: </span> <span>{{ voting.date }}</span></div>
                    <div class="time">
                        <span>{% trans "Pozostało" %}: </span>
                        <span id="countdown-timer"></span>
                    </div>
                </div>
                <div class="description flex flex-col">
                    <div class="iconHolder">
                        {% if voting.collab.wokal == True %}
                        <img class="icon" src="{% static 'images/icons/vocals.png' %}" alt=""/> 
                        {% endif %}
                        {% if voting.collab.instrument == True %}
                        <img class="icon" src="{% static 'images/icons/guitar.png' %}" alt=""/> 
                        {% endif %}
                    </div>
                    <p>downloaded: xx{{ voted }}</p>
                </div>
            </div>
        </div>
        <div class="col_mod_check flex w-2/5 justify-around items-center gap-3 bg-gradient-to-l from-contrast-800 via-primary-500 to-primary1-800">
            <div class="player flex flex-col gap-3 py-2">

                <audio src="" id="audioAPI"></audio>
                <audio src="{{ current_stage.backing_track.url }}" id="audio-backing"></audio>
                
        
        
                <div class="flex justify-center space-x-4">
                    <p id="current-time"></p>
                    <button id="back-btn">
                        <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </button>
                    <button id="play-btn">
                        <svg width="17" height="17" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#ffffff" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>play</title>
                                <desc>Created with Sketch Beta.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#ffffff">
                                        <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <button id="fwd-btn">
                        <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(180)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </button>
                    <p id="duration"></p>
                </div>
                <div class="flex flex-col items-center w-full">
                    <input type="range" id="progress" min="0" max="1" value="0" step="0.01" class="range-slider w-full mb-2">
                </div>
    
            </div>
            
        </div>
    </section>

    <section class="stages-header-player flex w-full">
        <div class="w-3/5 bg-slate-500">
        <p>
            past stages:</p>
        </div>
      
        <div>

    </section>

    <section id="past-stages" class="w-full flex flex-col">
{% for stage in past_stages %}
<div class="flex justify-between gap-4 bg-primary1-700 border-2 border-primary1-950 p-2">
        <div class="flex w-full">
            <div class="">
                <p>Name: {{ stage.name }}</p>
                <p>Description: {{ stage.desc }}</p>
            </div>
            <div>
                <p>created:<p>
                <p>closed: </p>
                <p>duration: </p>
            </div>
        </div>
        <div>
            <p>Winner: </p>
            <button class="p-2 px-6 bg-slate-600">play the selected take</button>
        </div>
    </div>
{% endfor %}

    </section>



</div>

{% comment %} <a href="{% url 'collabs:vote' sub.id %}" class="text-blue-500">Check</a> {% endcomment %}

<script>
    var timeRemaining = {{ time }};
</script>
<script src="{% static "time-left.js" %}"></script>

{% endblock %}