{% extends 'core/base.html' %}
{% block title %}
Kolaboracje
{% endblock title %}
{% load static %}
{% load i18n %}
{% block content %}


<div style="margin-top: 35px" class="mainContainer mb-2 bg-secondary p-5 pt-4 w-5/6 rounded-xl mx-5"> 
<h1 class="test">{% trans "Aktywne Kolaboracje" %}</h1>

<button class="py-1 text-red-800 rounded"></button>


{% for collab in collabs %}
<a href="{% url 'collabs:collab' collab.id %}" class="w-3/4">
    <div class="item" style="height: 30wh w-3/4">
      <div class="logo"><img src="/rob_muze_logo.PNG" alt=""/></div>
      <div class="text">
      <h2 style="white-space: nowrap">{{collab.title}}</h2>
      <p>{{collab.desc|slice:"128" }}...</p>
      </div>
      <div class="detailSmall">
        {% comment %} DISPLAY TAGS {% endcomment %}
        <div class="iconHolder">
        {% if collab.wokal == True %}
        <img class="icon" src="{% static 'images/icons/vocals' %}.png" alt=""/> 
        {% endif %}
        {% if collab.instrument == True %}
        <img class="icon" src="{% static 'images/icons/guitar' %}.png" alt=""/> 
        {% endif %}
        </div>
    </div>
    </div>
  </a>
{% endfor %}


</div>
<div class="mainContainer p-4 bg-secondary w-5/6 rounded-xl mx-5">

<h1 class="test">Active Votings</h1>

 <div class="">
  {% for voting in votings %}
  <div class="smallItem bg">
    <a href="{% url 'collabs:voting' voting.id %}"><h2>{{ voting.name }}</h2></a>
    
    {% with voting.tagList as tags_list %}
    {% if tags_list %}
    <div class="iconHolder">
        {% for tag in tags_list %}
        <img class="icon" src="{% static 'images/icons/' %}{{ tag }}.png" alt=""/>

        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
  </div>
{% comment %} </a> {% endcomment %}
  {% endfor %}
</div> 
<a href="{% url 'collabs:votings' %}"><button class="tableButtons">{% trans "Zobacz wszystkie glosowania"%}</button></a>

</div>


{% endblock %}