{% extends 'core/base.html' %}
{% block title %}
Collab
{% endblock title %}
{% load static %}{% load i18n %}
{% block content %}

{% get_current_language as LANG %}


{% comment %} top part {% endcomment %}
    <div class="header mt-10 p-6 w-3/4 bg-primary rounded-xl mx-5" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">
        <div class="header-container myContainer">
            <div class="title">
                <span>{% if LANG == 'pl' %}
                    {{collab.title}}
                    {% elif LANG == 'en'%}
                    {{collab.title_en}}
                    {% endif %}
                </span>
                
            </div>
            <div class="date-time">
                <div class="date"><span>{% trans "Dodano" %}: </span> <span>{{ collab.date }}</span></div>
                <div class="time"><span>{% trans "Pozostało" %}: </span> <span id="countdown-timer"></span></div>
            </div>
        </div>
    </div>


<!-- Main info -->
    <div class="about my-5 p-6 w-3/4 bg-primary rounded-xl mx-5 shadow" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">
        <div class="about-container myContainer">
            <div class="about-item">
                <div class="title">co tutaj?</div>
                <div class="description">

                    <div class="iconHolder">
                        {% if collab.wokal == True %}
                        <img class="icon" src="{% static 'images/icons/vocals' %}.png" alt=""/> 
                        {% endif %}
                        {% if collab.instrument == True %}
                        <img class="icon" src="{% static 'images/icons/guitar' %}.png" alt=""/> 
                        {% endif %}
                        </div>
                        <p>downloaded: {{ downloaded }}</p>
                        <p> submittedL: {{ submitted }}</p>
                    <p>{% if LANG == 'pl' %}
                        {{collab.desc}}
                        {% elif LANG == 'en'%}
                        {{collab.desc_en}}
                        {% endif %}</p>

                </div>
            </div>
            <div class="about-item">
                test
            </div>
        </div>
    </div>

<!-- download section -->
    <div id="dynamic" class="list-description mt-5 mb-4 p-6 w-3/4 bg-primary rounded-xl mx-5" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">
        <div class="description-container myContainer">
            <div class="description-item">
                <p>{% if LANG == 'pl' %}
                    {{collab.desc2}}
                    {% elif LANG == 'en'%}
                    {{collab.desc2_en}}
                    {% endif %}</p>
                    <p>Responses: {{ submission_count }}</p>
            </div>
            <div class="description-item">
                <div class="list-container">
                    <div class="flex flex-col">
                    <p>In the pack:</p>
                    <ul style="list-style-type: disc">
                        {% if collab.backing_track %}<li><span>Backing track</span></li>{% endif %}
                        {% if collab.demo %}<li><span>Example execution</span></li>{% endif %}
                        {% if collab.score %}<li><span>Sheet Music</span></li>{% endif %}
                        {% if collab.midi %}<li><span>MIDI file</span></li>{% endif %}
                        {% if collab.ableton %}<li><span>Ableton Project</span></li>{% endif %}
                        {% if collab.reaper %}<li><span>Reaper Project</span></li>{% endif %}
                        {% if collab.logic %}<li><span>Logic Project</span></li>{% endif %}
                    </ul></div>
                    <div class="py-4 mt-6 text-lg bg-teal-700 hover:bg-secondary rounded-xl">

                    {% if request.user.is_authenticated %}
                        {% if downloaded %}
                            {% if submitted %}
                                <div class =""><p>Already submitted</p></div>
                            {% else %}
                             <a href="{% url 'collabs:sub_collab' collab.id %}"><button class="tableButtons">Upload Your Answer</button></a>
                            {% endif %}
                        {% else %}
                            <button onclick="showConfirmation()">Download</button>
                        {% endif %}
                    {% else %}
                        <button class="list-description mt-5 mb-4 p-6 rounded-xl mx-5 bg-accent">Log in first</button>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        var timeRemaining = {{ time }};
    </script>
    <script src="{% static "time-left.js" %}"></script>



<script>
    var downloadUrl = "{% url 'collabs:download_pack' collab.id %}";
</script>
<script>

    var originalContent = null;

    function showConfirmation() {
        var content = document.getElementById('dynamic');
        originalContent = content.innerHTML; 
        var height = content.offsetHeight;  
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'flex'; 
            content.style.justifyContent = 'center';  
            content.style.alignItems = 'center';  
            content.innerHTML = '<p>Upewnij sie, ze masz stabilne polaczenie poniewaz domyslnie mozesz pobrac kazdy sampel tylko raz!</p>' +
            '<button id="countdownButton" style="width: 168px; opacity: 0.65; transition: opacity 0.45s ease-in-out" disabled class="btn-primary">5</button>' +
            '<button onclick="goBack()" style="margin: 0px 5px 0px 5px" class="btn-primary">Powrot</button>';
            content.style.minHeight = height + 'px';  
            content.style.opacity = '1';
            content.classList.add('bg-secondary');

    
            var countdown = 5;
            var countdownButton = document.getElementById('countdownButton');
            var countdownInterval = setInterval(function() {
                countdown--;
                if (countdown >= 1) {
                    countdownButton.style.opacity = '0.65';
                    countdownButton.innerText = countdown;
                } else {
                  
                    clearInterval(countdownInterval);
                    countdownButton.innerText = 'Pobierz!';
                    countdownButton.style.opacity = 1; 
                    countdownButton.disabled = false;
                    countdownButton.onclick = function() {
                        window.location.href = downloadUrl;
                    };
                }
            }, 1000);
        }, 500);  
    }

    function goBack() {
        var content = document.getElementById('dynamic');
        content.style.opacity = '0';
        setTimeout(function() {
            content.style.display = 'block';  // restore the original display value
            content.innerHTML = originalContent;  // restore the original content of the divisibleb
            content.classList.remove('bg-secondary')
            content.classList.add('bg-primary')
            content.style.opacity = '1';
        }, 500);
    }

</script>


{% endblock content %}