{% extends 'core/base.html' %}
{% block title %}
Kolaboracje
{% endblock title %}

{% block content %}
   
<br><br><br><br>
<div class="mainContainer"> 
<h1 class="test">Aktywne Kolaboracje</h1>


<div >
{% for collab in collabs %}

<div class="item">
  <h2>{{collab.title}}</h2>
  <p>{{collab.desc}}</p>
  <a href="{% url 'collabs:collab' collab.id %}">
  <button class="tableButtons">
      Dowiedz sie wiecej</button></a>
    <br>
</div>
{% endfor %}
</div>

<div class="innerCont"> 

  <h2>Aktywne glosowania:</h2>

  <p>

  </p>

</div>

{% endblock %}