{% extends 'core/base.html' %}
{% block title %}
{{collab.title}}
{% endblock title %}
{% load i18n %}{% load static %}
{% block content %}
{% get_current_language as LANG %}


<script src="{% static 'js/collab.js' %}" defer></script>
{% comment %} <script src="{% static 'js/player1.js' %}" defer></script> {% endcomment %}
<script src="{% static 'axios/dist/axios.js' %}"></script>
<script>
    const markListenedUrl = "{% url 'collabs:mark_listened' stage_id=current_stage.id %}";
    {% comment %} const createInvitationUrl = "{% url 'groups:create_invitation' pk=group.id %}"; {% endcomment %}
    const csrftoken = '{{ csrf_token }}';
    const add_fav_url = "{% url 'collabs:add_favourite' stage_id=current_stage.id %}"
    const delFavUrl = "{% url 'collabs:del_favourite' %}" // no id
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<div id="admin-panel" class="admin-panel fixed p-3 bg-opacity-70 ml--50 flex flex-col justify-center bg-contrast-600" style="right: 0px; top: 80px; width: 56px">
 
    <a href="{% url 'collabs:collab_moderate' pk=collab.id %}"><button class="bg-slate-700 vertical-text py-3 px-1">ADMIN PANEL</button></a>
</div>
<div id="test-btn" class="admin-panel fixed p-2 bg-opacity-70 ml--50 flex flex-col justify-center bg-contrast-600"
    style="left: 0px; top: 430px; width: 51px">
 
    <button id="test-btn" class="bg-slate-700 vertical-text py-3 px-1">test</button>
</div>


<div class="wrapper">
    <div class="top-banner">
        <div class="w-2/3 flex flex-col gap-6">
            <h3>{{ collab.title }}</h3>
            <p>Ilosc glosow {{ vote_count }}</p>
            <h3 id="author" class="text-gray-500 text-xl leading-6">Author</h3>
        </div>
        <p>{{ collab.desc }}</p>

        <div style="w-full flex flex-wrap">
            <img id="cover" src="{{ collab.pic.url }}" style="height: 140px" alt="Cover Image" class="rounded z-10" />
        </div>
    </div>

<main class="w-full flex grow">
    <div class="flex flex-col w-4/5">
        <section class="stage w-full flex">
            <div class="px-6 w-full bg-primary1-800 flex justify-between">
                <div class="flex flex-col justify-around">
                    <p>Current stage: </p>
                    <h3>
                        {% if LANG == 'pl' %}
                        {{ voting.name }}
                        {% elif LANG == 'en'%}
                        {{current_stage.name}}
                        {% endif %}
                    </h3>
                    <p class="p-1">{{current_stage.desc}}</p>
                </div>
                <div>
                    <div class="date-time">
                        <div class="date"><span>created: </span> <span>{{ voting.date }}</span></div>
                        <div class="time">
                            <span>{% trans "Pozostało" %}: </span>
                            <span id="countdown-timer"></span>
                        </div>
                    </div>
                    <div class="description flex flex-col">
                        <div class="iconHolder">
                            {% if voting.collab.wokal == True %}
                            <img class="icon" src="{% static 'images/icons/vocals' %}.png" alt=""/> 
                            {% endif %}
                            {% if voting.collab.instrument == True %}
                            <img class="icon" src="{% static 'images/icons/guitar' %}.png" alt=""/> 
                            {% endif %}
                        </div>
                        <p>downloaded: xx{{ voted }}</p>
                        <p>
                            {% if LANG == 'pl' %}
                            <div>description: {{voting.description}}</div>
                            {% elif LANG == 'en'%}
                            {{voting.description_en}}
                            {% endif %}
                        </p>  
                    </div>
                </div>
            </div>
        </section>
        
        <section class="favourites w-full flex">
            <div class="w-full gradient">
                <div id="favourites" class="flex items-center">
                    {% for fav in favourites %}
                    <div class="fav-selected relative">
                        <button class="x absolute" style="top: -5px; right: -1px">X</button>

                        <button data-audio-url="{{ fav.demo_file_url }}" data-sub-id="{{ fav.id }}"
                        audio-name="{{ sub.title }}" author="{{ sub.user }}" data-vol-offset="1"
                        class="play-fav-btn rounded-xl relative bg-secondary overflow-hidden border-1 mx-4 my-1 border-white">
                            <div style="width: 0%; height: 60px; margin-top: -5px" class="absolute h-full bg-primary"></div>
                            <span class="btn-txt h-full relative">▶</span>
                        </button>
                        
                    </div>
                    {% endfor %}
                    <div class="fav-empty">
                        <p>+</p>
                    </div>
                </div>
                <button disabled class="bg-yellow-900 px-4 py-1 w-full">vote</button>
            </div>
                
        </section>

        <section id="responses" class="responses overflow-y-auto flex-wrap w-full bg-primary1-400 flex grow relative">
            {% comment %} <p class="vertext absolute overflow-visible" style="left: -6px; top: 4px;">Unlistened</p> {% endcomment %}
            {% for sub in unlistened %}
                <div class="relative flex flex-col justify-around bg-primary1-800 rounded-2xl  border-contrast-700 m-3 h-[130px]">
                    <button data-audio-url="{{ sub.demo_file_url }}" data-sub-id="{{ sub.id }}"
                        audio-name="{{ sub.title }}" author="{{ sub.user }}" data-vol-offset="1"
                        class="play-unlistened-btn rounded-xl relative bg-secondary overflow-hidden border-1 mx-4 border-white">
                            <div style="width: 0%; height: 60px; margin-top: -5px" class="absolute h-full bg-primary"></div>
                            <span class="btn-txt h-full relative">▶</span>
                        </button>

                    <p class="absolute" style="left: 4px; display:none">o</p>
                    <button disabled data-select-id="{{ sub.id }}" class="addFavUnlistened add-fav-btn-dis">Add to favourites</button>
                </div>
            {% endfor %}
            {% for sub in listened %}
            <div class="response-listened show">
                <button data-audio-url="{{ sub.demo_file_url }}" data-sub-id="{{ sub.id }}"
                    audio-name="{{ sub.title }}" author="{{ sub.user }}" data-vol-offset="1"
                    class="play-listened-btn rounded-xl relative bg-secondary overflow-hidden border-1 mx-4 border-white">
                        <div style="width: 0%; height: 60px; margin-top: -5px" class="absolute h-full bg-primary"></div>
                        <span class="btn-txt h-full relative">▶</span>
                    </button>

                <p class="absolute" style="left: 4px; display:none">o</p>
                <button data-select-id="{{ sub.id }}" class="addFav add-fav-btn">Add to favourites</button>
            </div>
            {% endfor %}
            
            {% comment %} <lottie-player id="lottie" src="{% static 'animation.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;"></lottie-player> {% endcomment %}

            {% comment %} <script>
                LottieInteractivity.create({
                  player: '#lottie',
                  mode: 'cursor',
                  actions: [
                    {
                        type: "toggle"
                    }
                  ]
                });
              </script> {% endcomment %}

        </section>
    </div>

    <div class="player relative h-full">

        <audio src="" id="audioAPI"></audio>
        <audio src="{{ current_stage.backing_track.url }}" id="audio-backing"></audio>
        
    
    
        <div class="transport"> 
            <p id="current-time"></p>
            <button id="back-btn" class="">
                <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g></p>
                </svg>
            </button>
            <button id="play-btn">
                <svg width="17" height="17" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#ffffff" stroke="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <title>play</title>
                        <desc>Created with Sketch Beta.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#ffffff">
                                <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
            <button id="fwd-btn">
                <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(180)">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg>
            </button>
            <p id="duration"></p>
        </div>


        <input type="range" id="progress" min="0" max="1" value="0" step="0.01" class="absolute range-slider" style="z-index: 101; bottom: 20px; right: 40vw;">
           


        <div class="flex h-full">
            <div class="channel">
                <input type="range"
                    class="range-slider absolute"
                    id="backing-volume" min="0" max="1"
                    value="1" step="0.01"
                    style="transform: rotate(-90deg); transform-origin: 50% 50%; bottom: 215px; left: 50%; translate: -50% 50%;">
                    <p class="pt-4">ch 1</p>
            </div>
            <div class="channel">
                <input type="range"
                    class="range-slider absolute"
                    id="volume" min="0" max="1"
                    value="1" step="0.01"
                    style="transform: rotate(-90deg); transform-origin: 50% 50%; bottom: 215px; left: 50%; translate: -50% 50%;">
                <p class="pt-4">ch 2</p>
        </div>
        </div>
        
    
        
    </div>
    



</main>

</div>





{% comment %} <a href="{% url 'collabs:vote' sub.id %}" class="text-blue-500">Check</a> {% endcomment %}

<script>
    var timeRemaining = {{ time }};
</script>
<script src="{% static "time-left.js" %}"></script>

{% endblock %}