{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock title %}

{% block content %}
    <div class="w=1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl mt-40 text-gray-800">
        <h1 class="mb-6 text-3xl">Przeslij Swoje nagranie!</h1>
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <input type="hidden" name="collab_id" value="{{ collab.id }}"> {% endcomment %}
            <button type='submit'>Przeslij</button>
        </form>
    </div>
{% endblock content %} 